@{
    ViewBag.Title = "Joel Hilton Film Collection";  //setting website title
}

<div class="text-center">
    <img src="~/img/hiltonbrother.jpg" />   @*image of joel hilton*@
    <br />
    <p>Here is Joel Hilton ladies and gents.</p>
</div>